*~
*.bak
*.la
*.lo
.deps
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/wayland-text-input-unstable-v1-client-protocol.h
src/wayland-text-input-unstable-v1-protocol.c
stamp-h1
